[submodule "vendor/derive-codegen"]
	path = vendor/derive-codegen
	url = https://github.com/colelawrence/derive-codegen.git
[submodule "design-tools/Figma-variables-import-export"]
	path = design-tools/Figma-variables-import-export
	url = https://github.com/jake-figma/variables-import-export.git
[submodule "vendor/design-tokens"]
	path = vendor/design-tokens
	url = https://github.com/colelawrence/design-tokens
[submodule "vendor/shipyard_app"]
	path = vendor/shipyard_app
	url = https://github.com/colelawrence/shipyard_app
[submodule "vendor/shipyard"]
	path = vendor/shipyard
	url = https://github.com/colelawrence/shipyard
[submodule "vendor/quickjs-rs"]
	path = vendor/quickjs-rs
	url = https://github.com/colelawrence/quickjs-rs
[submodule "vendor/tracing-opentelemetry"]
	path = vendor/tracing-opentelemetry
	url = https://github.com/ymgyt/tracing-opentelemetry.git
