{% block edit %}
<div class="flex flex-col gap-2">
  <label class="flex justify-between">
    <span>
      Client ID
    </span>
    <input type="text" name="client_id" value="{{client_id}}">
  </label>
  <label class="flex justify-between">
    <span>
      API Key
    </span>
    <input type="text" name="api_key" value="{{api_key}}">
  </label>
  {% if err %}
  <div class="bg-sys-error-container text-sys-on-error-container p-2 rounded-sm">
    {{ err.message }}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block view %}
<div class="flex flex-col gap-2">
  <label class="flex justify-between">
    <span>
      Client ID
    </span>
    <pre>{{client_id}}</pre>
  </label>
  <label class="flex justify-between">
    <span>
      API Key
    </span>
    <pre>{{api_key}}</pre>
  </label>
  {% if updated %}
  <div class="bg-sys-primary-container text-sys-on-primary-container p-2 rounded-sm">
    Updated!
  </div>
  {% endif %}
</div>
{% endblock %}
