<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Here Now Configuration</title>
  <link rel="stylesheet" href="config-html-server.css">
  <script src="unpkg.com_htmx.org@1.9.2_dist_htmx.min.js"></script>
</head>

<body class="bg-blue-700 text-white font-sans h-full p-16">
  <h1 class="text-2xl font-bold">Here Now Configuration</h1>
  <p>You're now looking at the self-configuration page, where we'll set up your service.</p>

  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Value</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>dev_server_bind_address</td>
        <td><code>{{ dev_server_bind_address }}</code></td>
      </tr>
    </tbody>
  </table>
</body>

</html>
