<div class="flex flex-col justify-stretch">
  <label for="{{name}}" class="block mb-2 text-sm font-medium text-sys-on-background">{{label}}</label>
  <input type="{{type}}" id="{{name}}" name="{{name}}" value="{{value}}" {% if help
    %}aria-describedby="{{name}}-helper-text-explanation" {% endif %}
    class="bg-sys-surface border border-sys-on-secondary-container text-on-secondary-container text-mono-base rounded-sm focus:ring-sys-primary focus:border-sys-primary block w-full p-2"
    placeholder="{{placeholder}}">
  {% if help %}
  <p id="{{name}}-helper-text-explanation" class="mt-2 text-ui-sm text-sys-on-secondary-container text-opacity-70">
    {{help}}
  </p>
  {% endif %}
</div>
